include head
include blog-nav

body
  div.row
    ul.twelve.columns.post-listings
      each post in posts
        li
          a(href="/#{post.year}/#{post.month}/#{post.slug}")
            div.row
              div.four.columns!= post.img
              div.eight.columns
                header
                  h3.subheader= post.title
                  h5.subheader= post.date.toDateString()
                    p!= post.excerpt
  
  include footer
